@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 welcome">Welcome to the Church Movies App</h1>
    <img style="width: 80%; margin: auto" src="https://assets.ldscdn.org/df/6e/df6e304a128ce43f57001ed5d1679c5c72dcda741050142/jesus_christ_appearance_on_shore.jpeg" alt="" />
</div>
