@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img id="welcome-image" src="~/images/img_3.jpeg" alt="Jesus teaching">
    <h1 id="welcome"class="display-4">Welcome to my Scripture Journal</h1>
</div>