/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #75c145 !important;
    font-weight: 400;
}

.btn-primary {
    color: #fff;
    background-color: #4f483c !important;
    border: none !important;
    padding: 0px 20px !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom styles
-------------------------------------------------- */
body {
    background-color: #f9f6ef !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}
#navbar {
    background-color: #f9f8f4;
}
#navbar .navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
}
#navbar .navbar-collapse li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
#welcome {
    font-family: 'Tangerine', cursive;
    font-weight: 400;
    margin: 50px 0 80px 0;
}
.header-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
#welcome-image {
    width: 100%;
}
@media (min-width: 768px) {
    #welcome-image {
        width: 60%;
}

